@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  transition: all 0.2s ease-in-out;
}

body {
  background: #008888;
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.card {
  border-radius: 4px;
  height: 85vh;
  width: 80vw;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  overflow: hidden;
}

@media only screen and (min-width: 1000px) {
  .card {
    flex-direction: row-reverse;
  }
  .card img.birthday {
    width: 100%;
    max-width: 50vw;
    max-height: unset;
  }
}

@media (max-height: 800px) {
  .card img.birthday {
    width: 100%;
    max-width: auto;
    max-height: unset;
  }
}

img.birthday {
  max-height: 40vh;
}

.text {
  padding: 1em;
}

.muted {
  opacity: 0.8;
}

.space {
  height: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}
.form input {
  margin: 10px;
}
::placeholder {
  color: rgba(255, 255, 255, 0.527);
}
input {
  color: rgba(255, 255, 255, 0.527);
  outline: none;
  width: 300px;
  height: 40px;
  background-color: transparent;
  border: 1px rgba(255, 255, 255, 0.2) solid;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
}
@media (max-width: 800px) {
  input {
    width: 250px !important;
  }
}
.place {
  color: rgba(255, 255, 255, 0.527);
}

select {
  width: 300px;
  height: 40px;
  background-color: transparent;
  font-family: Montserrat, sans-serif;
  border: 1px rgba(255, 255, 255, 0.164) solid;
  padding-left: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 10px;
  outline: none;
}
@media (max-width: 800px) {
  select {
    width: 250px;
  }
}
input:focus,
select:focus,
.btn:focus {
  border: 1px rgba(255, 255, 255, 1) solid;
  transition: all 0.5s;
}
.btn {
  width: 300px;
  height: 40px;
  margin-top: 20px;
  outline: none;
  border: 1px rgba(255, 255, 255, 0.2) solid;
  background-color: transparent;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.719);
  font-size: 18px;
  font-weight: 700;
}
.btn:hover {
  color: white;
}
@media (max-width: 800px) {
  .btn {
    width: 250px;
  }
}
a {
  color: #7f78d2;
  font-weight: bold;
  margin-top: 20px;
}
.gen-link {
  margin-top: 20px;
  font-size: 400;
}
